<div>
  <h3><%= @user.name %></h3>
  <%= image_tag @user.get_profile_image(100,100) %>
  <% if @user == :users %>
    <p><%= link_to <i class="fas fa-user-cog"></i>, edit_user_path(@user) %></p>
  <% end %>
</div>
