<h1>"welcome to "
<i class="fa-solid fa-book"></i>
<strong>Bookers</strong>
" !!"
</h1>
<p>
  "In "
  <i class="fas fa-book"></i>
  <strong>Bookers</strong>
  ", "
</p>
<p>you can share and exchange your opinions , inpressions , and emotions</p>
<p>about various books!</p>
<div class="btn-wrapper col-10mx-auto">
  <div class="row">
    <%= f.submit "Log in" %>
  </div>
  <div class="row">
    <%= f.submit "Sign up" %>
  </div>
</div>